@import './styles/reset.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type="checkbox"]{
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
}
input[type="checkbox"]:checked {
    background: transparent;
}
input[type="checkbox"]:checked:after {
    content: "🔊";
}
input[type="checkbox"]:after {
    content: "🔈";
}
